
.one{
    background-color: red;
    /* display: none; */
    font-size: 50px;
}

@media (max-width:400px) {
    #one{
       
        display: none;
    }
}
@media only screen and (max-width : 500px)  {
    body{
        background-color: red;
    }
}

.parent{
    width: 100%;
    border: 1px solid red;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    
}
.parent1{
    width: 500px;
    height: 500px;
    background-color: aliceblue;
    display: grid;
    grid-template-columns:   auto auto;  
}

.child2{
    width: 100px;
    height: 100px;
    background-color: brown;

  
}
table,th,td{
    border: 1px solid;
    border-collapse: collapse;
    
}
table{
    width: 100%;
}
.parent div{
    width: 20%;
    height: 200px;
    background-color: blue;
    margin: 1px;
   
}








ul{
    list-style-type: upper-alpha;
}

ol{
    list-style-type: decimal;
}

body{
    background-image: url("https://images.pexels.com/photos/268533/pexels-photo-268533.jpeg?cs=srgb&dl=pexels-pixabay-268533.jpg&fm=jpg");
    filter: blur(50px);
}